.formContainer {
    padding: 3%;
    width: 100%;
}

.formHeader{
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: .5vw;
    color: white;
    text-align: left;
}

.formPrompt{
    color: white;
    font-family: Helvetica;
    font-size: 1.2vw;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 1vw;
    margin-left: .5vw;
}

.containerContactUs{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
    align-items: center;
}

.input {
    color: black;
    background-color: white;
    width: 16vw; 
    border-radius: 10px;
}

.inputWide {
    background-color: white;
    border-radius: 10px;
    width: 33vw
}

.input:hover {
    background-color: white;
}

.button {
    color: white;
    border-color: white;
    border-radius: 20px;
    font-weight: 500;
    background-color: transparent;
}

.button:hover {
    background-color: transparent;
}

.button:global(.Mui-disabled) {
    color: #666666; 
    border-color: #666666; 
}

.box {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px; 
    color: white;
    font-size: 24px;
}
