.mainContainer {
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.cardContainer {
    width: 20vw;
    height: 14vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
    padding: 1.1vw;
    border-radius: 25px;
    align-items: center; 
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    transition: transform 0.3s ease; 
}

.cardContainer:hover {
    transform: scale(1.1); /* Scale up the card */
}

.cardTitle {
    font-size: 1.2vw;
    font-weight: bold;
    line-height: tighter;
    color: #1f2937;
}

.cardText {
    margin-top: 1vw;
    font-size: 1vw;
    font-weight: normal;
    color: #4b5563;
}

.cardLink {
    font-weight: bold;
    color: #1f2937;
    text-decoration: none;
}

.pressHeader{
    font-size: 4vw;
    font-family: "Helvetica";
    color: white;
    text-align: center;
    margin-top: 3vw;
}

.pressOneLiner{
    font-size: 1.3vw;
    font-family: "Helvetica";
    color: white;
    text-align: center;
}

