.mainContainer {
    margin-top: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.cardContainer {
    transition: transform 0.4s ease; 
    max-width: 18vw;
    border-radius: 1vw
}

.cardContainer:hover {
    transform: scale(1.1);
}

.cardLink {
    font-weight: bold;
    color: #1f2937;
    text-decoration: none;
}

.pressHeader{
    font-size: 4vw;
    font-family: "Helvetica";
    color: white;
    text-align: center;
    margin-top: 1vw;
}

.pressOneLiner{
    font-size: 1.3vw;
    font-family: "Helvetica";
    color: white;
    text-align: center;
}

.cardTitle {
    font-size: 1.2vw;
    font-weight: bold;
    line-height: tighter;
    color: #1f2937;
}

.cardText {
    margin-top: 1vw;
    font-size: 1vw;
    font-weight: normal;
    color: #4b5563;
}