  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 2%;
    padding-right: 2%;
  }

  .content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .header {
    color: #003eab;
    font-family: "Inter-Bold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-shadow: 0px 4px 4px #00000040;
    border-bottom: 6px solid #FFCF00; 
  }
    
  .body {
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
    
  .bold-body {
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .clickable:hover {
    cursor: pointer;
    border: 3px solid #007bff !important;
    padding: 2px;
  }

  .carousel-container {
    width: 100%;
    padding: 10px;

  }
  
  .carousel-card {
    width: 300px; /* Set a fixed width */
    height: 200px; /* Set a fixed height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    transition: border 0.3s ease;
    position: relative;
  }
  
  .carousel-card img {
    width: 100%; /* Fill the width of the parent */
    height: 100%; /* Fill the height of the parent */
    object-fit: fill; /* Cover the area, preserving aspect ratio */
    transition: transform 0.3s ease;
  }

  .carousel-card a {
    display: block;
    height: 100%;
  }
  
  .carousel-card-text {
    display: none;
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
  }
  
  .carousel-card:hover .carousel-card-text {
    display: block;
  }
  
  .carousel-card:hover img {
    transform: scale(1.05); /* Optional: Slightly scale the image */
  }

  .overlay-text {
    color: white;  /* Text color */
    font-size: 5rem; /* Text size */
    text-align: center; /* Center the text */
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5); /* Text shadow for readability */
    font-weight: bold; /* Bold font weight */
    width: 100%; /* You can set a specific width or percentage */
    padding: 0 2rem; /* Add some padding if needed */
    opacity: 0; /* Start with the text fully transparent */
    animation-name: fadeIn; /* Reference the keyframes animation */
    animation-duration: 2s; /* Control the speed of the fade in, e.g., 2 seconds */
    animation-fill-mode: forwards; /* Keep the text visible after the animation ends */
    animation-delay: 0.5s;
  }
  
  .full-window-component{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

