.buttonColored {
    color: white;
    border-color: #1b365f;
    font-weight: 500;
    border: 1px solid #1b365f;
    background-color: #1b365f;
    width: 10%;
    margin-bottom: 1vw;
    border-radius: 3px;
  }
  
  .buttonColored:hover {
    color: #1b365f;
    background-color: white;
  }
  
  .buttonColored:disabled {
    background-color: grey;
    color: black;
    opacity: 0.5;
  }
