.techSubheader {
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    margin-bottom: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vw;
    padding-bottom: 2.5vw;
    border-bottom: 1px solid #1b365f;
    align-items: center;
}

.cardBody {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 1.7vw;
}

.cardText {
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 40px;
    margin-top: .5vw;
}
  
.extraText {
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 1vw;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
}

.readMoreButton{
    position: absolute;
    top: 0px;
    right: 0px;
}

.readMoreButton.MuiIconButton-root:hover {
    background-color: transparent;
    box-shadow: none; 
}

.contactText{
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: normal;
}

.cardImage{
    display: flex;
    height: 4vw;
    margin-top: 1vw;
  
}

.oneLinerContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.expandedContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2vw;
}

.expandedCardBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.linkBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 1vw;
    border-radius: 10px;
}
  
.linkText{
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
}

.nameLink{
    color: #1b365f;
    font-family: "Inter-Bold", Helvetica;
    font-weight: bold;
    letter-spacing: 0;
    text-decoration: none;
}