  .carouselContainer {
    width: 70%;
    margin: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
    border: 3px solid red
  }
  
  .expandedCard {
    border: 3px solid blue;
    border-radius: 1vw;
    background-color: white;
    height: 15vw;
    align-items: center;
    justify-content: center;
  }

  .collapsedCard {
    border: 3px solid green;
    border-radius: 1vw;
    background-color: white;
    height: 5vw;
    align-items: center;
    justify-content: center;
  }
  
  .cardTitleBox {
    height: 3vw;
    width: 100%;
    /*background-color: #999999;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw 1vw 0 0; 
  }
  
  .cardTitle {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
  }
  
  .cardContent {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: .9vw;
  }

  .cardContentContainer {
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardButton {

  }
  