  .carouselContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
  }
  
  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 15vw;
    padding: .5vw;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 1vw;
    background-color: white;
    height: 15vw;
    padding: .5vw;
  }

  .cardTitleBox {
    height: 3vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw; 
    border: 2px solid #999999;
  }
  
  .cardTitle {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1.5vw;
    margin-top: .5vw;
    font-family: Helvetica;
  }
  
  .cardContent {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: .9vw;
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: left;
    margin: 1vw 0;
    padding-left: 1vw;
    padding-right: 1vw;
  }

  .buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .readMoreButton {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
    border: none;
    margin: .5vw;
    cursor: pointer;
  }

  .downloadButton {
    color: black;
    margin: .5vw;
    cursor: pointer;
  }
  
  